# Molecular dynamics trajectories
*.dcd
*.xtc
*.trr
*.tng
*.nc
*.h5
*.hdf5

traj/
**/traj/

#Python junk
.ipynb_checkpoints/
**/.ipynb_checkpoints/

# OS junk
.DS_Store
._*
Thumbs.db
ehthumbs.db
Desktop.ini
*~
